*.cmd text
*.ps1 text

*.sln text eol=crlf
*.xproj text
*.cs text diff=csharp
*.json text
*.config text
*.nuspec text
*.xml text
*.xsd text
*.tdnet text
*.md text
*.txt text

*.exe binary
*.dll binary
*.nupkg binary
