*.md text

*.cmd text
*.ps1 text
*.yml text
*.json text

*.sln text
*.sln.DotSettings text
*.csproj text
*.projitems text
*.shproj text
*.cs text diff=csharp
*.fs text

*.props text
*.targets text
*.nuspec text

*.xml text

*.png binary
