*.txt text
*.md text

*.cmd text
*.ps1 text

*.sln text eol=crlf merge=union
*.csproj text merge=union
*.cs text diff=csharp
*.tdnet text

*.Config text
*.config text
*.targets text

*.exe binary
*.dll binary
