name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
        filter: tree:0
    - name: .NET SDK
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: |
          8.0
    - run: dotnet --info
    - name: Build and Test
      env:
        DOTNET_SYSTEM_CONSOLE_ALLOW_ANSI_COLOR_REDIRECTION: true
        TERM: xterm
      run: pwsh ./build.ps1 --pack
    - name: Release to MyGet
      env:
        PACKAGE_URL: https://www.myget.org/F/fixie-ci/api/v3/index.json
        PACKAGE_API_KEY: ${{ secrets.MYGET_API_KEY }}
      run: pwsh ./release.ps1