name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  ci:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v2
      with:
        fetch-depth: 0
    - name: .NET SDK
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '5.0.408'
    - name: Build and Test
      run: pwsh ./build.ps1 --pack
    - name: Release to MyGet
      env:
        PACKAGE_URL: https://www.myget.org/F/fixie-ci/api/v3/index.json
        PACKAGE_API_KEY: ${{ secrets.MYGET_API_KEY }}
      run: pwsh ./release.ps1